:root {
	--color-verdeSalvia: #9CA98C;
	--color-blancoMarfil: #FFFF;
	--color-lavandaSuave: #E6E6FA;
	--color-maderaNatural: #A0522D;
	--color-rosaEmpolvado: #D8BFD8;
	--color-amarilloPalido: #FFFACD;
	--color-varianteNegro: #2c2828;
	--color-varianteGris: rgb(98, 95, 95);
	--color--varianteMarron: #664626;

	--color--varianteBoton: #5E7C72;
	--color--varianteBeige: #C8AD7F;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'silent';
	src: url(/tipografia/Silent\ Landfield.ttf);

}

@font-face {
	font-family: 'Poppins';
	src: url(/tipografia/Poppins-Light.ttf);
}

@font-face {
	font-family: 'PoppinsBold';
	src: url(/tipografia/Poppins-Bold.ttf);
}

@font-face {
	font-family: 'Dancing';
	src: url(/tipografia/DancingScript-Bold.ttf);
}

body {

	/* font-family: 'Work Sans', sans-serif; */
	font-family: 'Poppins', sans-serif;
	background: var(--color-blancoMarfil);





}



/* ? ----- PORTADA ----- */

section {
	background: var(--color-blancoMarfil);
	overflow-x: hidden;
}

.portada {
	width: 100%;
	height: auto;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 10px;
	gap: 10px;

}

.texto {
	width: 100%;
	height: 100vh;
	height: auto;
	/* background: var(--color-verdeSalvia); */
	color: var(--color-varianteNegro);
	display: flex;
	position: relative;







	h1 {
		font-family: Dancing;
		font-weight: 100;
		font-size: 80px;
		margin: 2em auto 0;
		text-align: center;
	}


}

.img {


	img {
		width: 100%;
		max-width: 800px;
		margin-top: 10em;
		height: auto;
		overflow: hidden;
		object-fit: cover;
	}
}

.adornoPortadaIzquierda {
	position: absolute;
	left: 0;
	top: 100px;
	width: 150px;
	z-index: 0;
}

.adornoPortadaDerecha {
	position: absolute;
	right: 0;
	top: 100px;
	width: 150px;

	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	-ms-filter: "FlipH";
	filter: FlipH;
}






@media (max-width:900px) {


	.portada {
		flex-direction: column;

	}

	img {
		margin-top: 0px;
	}


	.texto {
		padding: 38px;
		margin-top: 0px;
		/* background: var(--color--varianteMarron); */

		h1 {
			font-size: 35px;
		}
	}





}

/* ? ----- PORTADA DOS ----- */

.portadaDos {
	width: 100vw;
	/* background: var(--color--varianteMarron); */
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
}


@media (max-width:900px) {

	.portadaDos {
		width: 95%;
		margin: 0 auto;
	}
}




/* ? ----- PORTADA TRES---- */

.portadaTres {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	overflow: hidden;
	/* background: var(--color--varianteBoton); */
	position: relative;

}

.textoTres {
	width: 100%;
	height: auto;
	margin: 15% auto;
	text-align: center;
	padding: 20px;
	overflow: hidden;



	h1 {
		font-weight: 900;
		font-size: 130px;
		color: var(--color-varianteNegro);
		font-family: Dancing;
	}

	h3 {
		font-size: 60px;
		font-weight: 900;
		color: var(--color-varianteNegro);
	}

	p {
		font-size: 20px;
		font-weight: 900;
		color: var(--color-varianteNegro);
		margin-bottom: 40px;
		position: relative;
		z-index: 1;
	}

}

.adornoDos {
	width: 250px;
	position: absolute;
	top: 100px;
}



.iframe {
	z-index: 1;
	border-radius: 10px;


}

.adornoFrame{
	width: 100px;
	height: 0;
	position: relative;
}

.adornoFrame_izquierda {
	width:500px;
	position: absolute;
	left: -50px;
	bottom: -100px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	-ms-filter: "FlipH";
	filter: FlipH;

	opacity: 0.4;
}

.adornoFrame_derecha {
	width: 500px;
	position: absolute;
	right: -50px;
	bottom: 300px;
	opacity: 0.4;

	z-index: 0;
	
}

.division {
	width: 80%;
	color: var(--color-varianteNegro);
	margin: 20px auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;

}

.linea {
	border-left: 3px solid var(--color-varianteNegro);
	width: 1px;
	height: 150px;

}

@media (max-width:900px) {

	.textoTres {
		width: 100%;
		margin: auto;



		h1 {
			font-size: 55px;
			margin-top: 90px;
		}

		h3 {
			font-size: 25px;
			margin-bottom: 1em;
		}

		p {
			font-size: 14px;
		}


		img{
			width: 100%;
			border-radius: 10px;
		}

	}


	.adornoDosDerecha {
		position: absolute;
		right: -90px;
		top: -50px;
		width: 250px;

		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		-ms-filter: "FlipH";
		filter: FlipH;
	}

	.adornoDosIzquierda {
		position: absolute;
		left: -90px;
		top: -50px;
		width: 250px;
	}



	iframe {
		width: 90%;
	}

	.division {
		align-items: center;
		justify-content: space-between;
	}

	.linea {
		height: 50px;
	}

	.parteUno {
		padding-top: 10%;
	}

	.parteDos {
		padding-top: 10%;
	}

	.img {
		width: 100%;
		margin: auto;
	}




}



/* ? ----- PORTADA CUATRO ----- */
.portadaCuatro {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;

}

/* 
@media (max-width:900px) {
	.portadaCuatro {

	}

} */


/* ? ----- PORTADA CINCO ----- */
.portadaCinco {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	margin: 90px auto;
	overflow: hidden;
	padding: 10px;
	/* background: var(--color--varianteMarron); */
}

.contenedor {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	margin: 20px auto;

	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);

	background: var(--color--varianteBeige);
	border-radius: 10px;
	width: 500px;
	height: auto;
	padding: 45px;

	a {
		text-align: center;
		text-decoration: none;
		pointer-events: none;

	}

	h1 {
		font-size: 50px;
		font-family: Dancing;
		font-weight: 100;
		color: var(--color-blancoMarfil);
	}

	i {
		font-size: 60px;
		color: var(--color-blancoMarfil);
		margin: 5px;
		
	}


	p {
		font-size: 14px;
		margin: 10px;
		color: var(--color-blancoMarfil);
	}

	button {
		font-size: 16px;
		list-style: none;
		padding: 20px 30px;
		cursor: pointer;
		font-family: Poppins;
		color: var(--color--varianteBeige);
		font-weight: 600;
		border-radius: 20px;
		border: none;
		margin-top: 8px;
		pointer-events: all;
		background: var(--color-blancoMarfil);
		background-origin: #f9f9f9;
		-webkit-background-origin: #f9f9f9;


	}

	button:hover {
		background: var(--color-maderaNatural);
		color: var(--color-blancoMarfil);
		transition: all .5s ease-in-out;
	
	}




}


/* ? ----- MEDIAQUERYS ----- */

@media (max-width:600px) {
	.contenedor {
		width: 85vw;
		padding: 25px;
		margin: 30px;

		i {
			font-size: 40px;
		}



		button {
			font-size: 15px;
			border-radius: 15px;
			width: 90%;
		}

	}
}

/* ? ----- MODAL ----- */

.popup-container {
	width: 100vw;
	height: 100vh;
	background: #000000b9;


	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;
	transition: opacity .6s;

	z-index: 999;





	.popup-box {
		color: #f9f9f9;
		background: var(--color--varianteBoton);
		width: 50%;
		padding: 2em;
		position: relative;
		border-radius: 12px;






		h1 {
			text-align: center;
			font-family: silent;
			font-weight: 100;
			font-size: 50px;
			color: #f9f9f9;
			margin: 15px;

		}

		p {
			font-size: 16px;
			font-weight: 100;
			text-align: center;
			color: #f9f9f9;
			margin: 15px;

		}





		.close-btn {
			position: absolute;
			top: 10px;
			right: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 5px 9px;
			cursor: pointer;
			width: 30px;
			height: 30px;
			text-align: center;
		
			border-radius: 50%;
		}

	}
}



.popup-container-dos {
	width: 100vw;
	height: 100vh;
	background: #000000b9;


	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	/* border: 1px solid rgba(255, 255, 255, 0.3); */

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	pointer-events: none;

	transition: opacity .6s;

	z-index: 999;

	.popup-box-dos {
		color: #f9f9f9;
		background: var(--color--varianteBoton);
		width: 50%;
		padding: 2em;
		position: relative;
		border-radius: 12px;



		h1 {
			text-align: center;
			font-family: silent;
			font-weight: 100;
			font-size: 50px;
			color: #f9f9f9;
			margin: 15px;

		}

		p {
			font-size: 16px;
			font-weight: 100;
			text-align: center;
			color: #f9f9f9;
			margin: 15px;

		}





		.close-btn-dos {
			position: absolute;
			top: 10px;
			right: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 5px 9px;
			cursor: pointer;
			width: 30px;
			height: 30px;
			text-align: center;
		
			border-radius: 50%;
		}

	}
}

.popup-container.active {
	opacity: 1;
	pointer-events: auto;
	transform: scale(1);


}

.popup-container-dos.active {
	opacity: 1;
	pointer-events: auto;
	transform: scale(1);


}

.modal_show {
	opacity: 1;


}

.modal_show_dos {
	opacity: 1;


}

/* ? ----- MEDIAQUERYS ----- */

@media (max-width:600px) {

	.popup-container {
		.popup-box {
			width: 90%;
			padding: 10px;

			h1 {
				font-size: 50px;
			}
		}
	}


	.popup-container-dos {
		.popup-box-dos {
			width: 90%;
			padding: 10px;

			h1 {
				font-size: 50px;
			}


		}
	}

}



/* ? ----- PORTADA SEIS (FOOTER)----- */
.portadaSeis {
	width: 100%;
	height: 5em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	margin: auto;
	overflow: hidden;
	background: var(--color--varianteBoton);

	z-index: 99;

	a {

		display: flex;
		align-items: center;
		text-decoration: none;

		color: #f9f9f9;
		font-size: 14px;
		padding: 8px;

	}


	img {
		width: 50px;
		margin-right: 20px;
	}




}


/* ? ----- MEDIAQUERYS (FOOTER)----- */

@media (max-width:600px) {

	.portadaSeis {
		text-align: center;

		a {
			font-size: 10px;
		}

		img {

			margin-right: 10px;
		}
	}

}








/* ? ----- CUENTA REGRESIVA ----- */

#cuenta {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	z-index: 0;
	margin: 5em 0 10em 0;
}

.simply-section {
	background: #ffffff67;
	width: 120px;
	height: 120px;
	margin: 0 20px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;

	color: var(--color-varianteNegro);

	background: rgba(255, 255, 255, 0.16);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);
}

.simply-amount {
	display: block;
	font-size: 40px;
	font-weight: 700;
}

.simply-word {
	font-weight: 400;
	font-size: 20px;

}


@media (max-width:900px) {

	#cuenta {
		margin: 5em 0 6em 0;
	}

	.simply-section {
		width: 105px;
		height: 105px;
		margin: 0px;
		border-radius: 6px;


		.simply-amount {
			display: block;
			font-size: 35px;
			font-weight: 400;
		}

		.simply-word {
			font-weight: 700;
			font-size: 15px;


		}

	}



}

/* ? ---------------------------- */





/* ? ----- REPRODUCTOR ----- */

.box {
	height: 6rem;
	width: 50%;
	display: flex;
	align-items: center;
	background: #f9f9f9;
	border-radius: 1rem;
	box-shadow: 0 .5rem 1rem #00000038;
	overflow: hidden;
	margin: 2rem;
	margin-bottom: 10%;

	z-index: 1;

	.image {
		height: 100%;
		width: 28%;
	}

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	.music {
		width: 75%;
	}

	audio {
		width: 100%;
		outline: none;
	}

	audio::-webkit-media-controls-enclosure {
		background: none;
	}

}

/* ? ----- MEDIAQUERYS ----- */

@media (max-width:600px) {
	.box {
		height: 4rem;
		width: 80%;
	}

}


/* ? ----- SLIDER ----- */



/*GALERIA DE FOTO*/

.galeria {
	max-width: 1000px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* grid-template-rows: 250px; */
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 8px;
	padding: 15px;

	/* background: var(--color--varianteMarron); */
}

.boxe img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.boxe:nth-child(1) {
	grid-column-start: span 2;
}

.boxe:nth-child(2) {
	grid-column-start: span 2;
}

.boxe:nth-child(3) {
	grid-column-start: span 4;
}

.boxe:nth-child(4) {
	grid-column-start: span 2;
}

.boxe:nth-child(5) {
	grid-column-start: span 2;
}

/* FIN DE GALERIA DE FOTOS */




/* ? ----- PORTADA OCHO ----- */
.portadaOcho {
	width: 95%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5em auto 1em;
	padding: 7px;
	/* background: var(--color-verdeSalvia); */
	/* background: url(../img/fondo/layered-waves-haikei-dos.svg); */
	/* background-size: 1350px; */
	/* background-repeat: no-repeat; */
	/* background-position: center bottom; */
	/* position: relative; */


	h1 {
		text-align: center;
		font-family: Dancing;
		font-weight: 100;
		/* font-size: 80px; */
		font-size: 60px;
		color: var(--color-varianteNegro);
		/* margin: 45px 0 35px 0; */
	

	}

	p {
		width: 90%;
		font-weight: 100;
		/* font-size: 18px; */
		font-size: 16px;
		color: var(--color-varianteGris);
		text-align: center;
		/* padding: 30px; */
		/* margin-bottom: 130px; */

	}


}

.adorno {
	width: 150px;
	position: absolute;
	top: 0;
	right: -120px;
}

@media (max-width:900px) {

	.portadaOcho {
		.portadaOcho {
			width: 95%;
			
		
			
		}

		h1 {
			font-size: 40px;
			margin: 0;
		}

		p {
			font-size: 14px;
			padding: 0;


		}

	}

	.adorno {
		width: 300px;
		position: absolute;
		top: -80px;
		right: -50px;
	}
}

;